* {
    margin: 0px;
    padding: 0px;
}
html, body{    
    background-image: url("img/background.jpg");
    background-repeat: repeat-y;
    height: 100%;
}
.content{
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    position: absolute;
    top:0; bottom: 0;
    left: 0; right: 0;
    margin: auto;

    max-width:100%;
    max-height:100%;
    overflow:auto;

    background-color: rgba(200,200,200,0.2);
}

.logo{
    width: 50%;
    display: block;
    margin: 10px auto;
}

main{
    color: white;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    margin: 10px;
}

main p{
    margin: 10px;
}
main a{
    color: white;
    padding: 5px 5px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px dotted palegoldenrod;
}

main a:hover{
    color: palegoldenrod;
    font-weight: bolder;
    border-bottom: none;
}

